html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.globalContainer {
    margin: 0 auto;
    padding: 50px;
    max-width: 1000px;
}

@media (max-width: 768px) {
    .globalContainer {
        padding: 20px;
    }
}

