.form__container {
  display: flex;
  max-width: 1000px;
  background-color: white;
  margin: 0 auto;
  justify-content: space-between;
  grid-gap: 15px;
}

.form__input {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 80%;
}

.form__button {
  display: grid;
  grid-gap: 10px;
  border: none;
  background-color: teal;
  color: white;
  padding: 10px;
  transition: 0.35s;
}

.form__button:hover {
  transform: scale(1.125);
  border: none;
  background-color: hsl(180, 100%, 35%);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.form__button:active {
  border: none;
  background-color: hsl(180, 100%, 45%);
  color: white;
  padding: 10px;
}
