.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  grid-gap: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.task__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  grid-gap: 15px;
  margin-bottom: 10px;
}

.task--done {
  text-decoration: line-through;
}

.task--hidden {
  display: none;
}

.section__list {
  list-style-type: none;
  padding: 0%;
}

.section__header {
  font-size: xx-large;
  font-weight: bold;
  margin: 0 auto;
}

.section__subHeader {
  display: flex;
  max-width: 1000px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 2px;
  padding: 20px;
  font-weight: bold;
  font-size: large;
  align-items: center;
}

.section__header--special {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-end;
  max-width: 1000px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 20px;
  font-weight: bold;
  font-size: large;
}

.sectionBody__taskContainer {
  max-width: 1000px;
  background-color: white;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 30px;
  font-weight: 400;
  font-size: large;
}

.button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: green;
  cursor: pointer;
  transition: 0.35s;
  flex-shrink: 0;
}

.button:hover {
  background-color: hsl(120, 100%, 35%);
}

.button:active {
  background-color: hsl(120, 100%, 45%);
}

.button--remove {
  width: 35px;
  height: 35px;
  border: none;
  background-color: red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}

.button--remove:hover {
  background-color: hsl(0, 100%, 65%);
}

.button--remove:active {
  background-color: hsl(0, 100%, 75%);
}
